a {
color: #696969;
}
a:hover {
    color: #696969;
}

li.edged a {
border-left: solid 1px #696969;
padding: 0 8px;
text-decoration: underline;
font-weight: bold;
}

main.container {
border: solid 1px #696969;
margin-bottom: 1em;
margin-top: 1em;
border-radius: 0.5em;
padding-left: 2em;
padding-right: 2em;
padding-top: 1em;
padding-bottom: 1em;
background-color: white;
}

header.container {
margin-top: 1em;
}

div.img-wrapper {
text-align: right;
}

div.img-wrapper img {
width: 100px;
}

body {
background-color: Gainsboro;
}

main.container header {
width: 65%;
}

main.container article {
margin-top: 2em;
margin-bottom: 4em;
}

a.more-info {
color: red;
text-decoration: underline;
}
a.more-info:hover {
    color: red;
}
main.container footer {
text-align: right;
text-transform: uppercase;
font-weight: bold;
color: #696969
}

main.container footer a {
text-decoration: none;
}
.symbol {
color: red;
font-size: 1.5em;
}
